.container{
  display: flex;
  flex-direction: column;
  /*border: 2px solid red;*/
  height: 550vh;
}

.nav{
  /*border: 2px solid blue;*/
  width: 98.5%;
  z-index: 1000;
  position: fixed;
  /*margin: 0 auto;*/
  top: 0;
  background-color: grey;
  font-size: 20px;
}


.active{
  color:red;
}

.nav ul{
  display: flex;
  flex-direction: row;
  list-style: none;
  align-items: center;
  justify-content: space-around;
  /*width: 100%;*/
}
.nav a{
  text-decoration: none;
  /*width: 100%;*/
  color: white;

}

.nav li{
/*  display: flex;
  justify-content: space-around;
  align-items: center;*/
  /*width: 100%;*/
}

.nav a::after{
  content: " | ";
}


a.active {
  color:red;
}


#name{
  display: flex;
  /*border: 2px solid green;*/
  justify-content: center;
  width: 100%;
  height: 60vh;
  margin-top: 10%;
  align-items: center;
  font-size: 50px;

}

#about{
  text-align: center;
  /*border: 2px solid yellow;*/
  /*overflow-wrap: break-word;*/
  height: 80vh;
  padding-top: 20vh;
  /*margin-top: 20px;*/
}


.box{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 40vh;
  /*border: 2px solid brown;*/
  background-color: grey;
  color: white;
  font-size: 50px;
  /*padding: 5vh;*/

}

p{
  /*text-align: center;*/
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  /*padding: 20vh;*/

}

.p1{
  height: 40vh;
}

.p2{
  height: 40vh;
}

.p3{
  height: 40vh;
}


.p4{
  height: 40vh;
}


#projects{
  /*border: 2px solid orange;*/
  padding-top: 10vh;
}

#skills{
  /*border: 2px solid purple;*/
  height: 30vh;
  text-align: center;
  padding-top: 10vh;
  padding-bottom: 10vh;
}

#contact{
  /*border: 2px solid black;*/
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 20vh;
}

#contact a {
  text-decoration: none;
  color: black;
  padding: 10vh;
}


