@media screen and (min-device-width: 701px){
.container{
  display: flex;
  flex-direction: column;
  height: 1050vh;
  margin: 0;
  font-family: 'Lato', sans-serif;
  width: 100%;
}

body{
  margin: 0;
  background-color: #FDFCFC;
  width: 100%;
}

#box1{
  background-image: url('../images/connect4.png');
  background-size: cover;
}

#box2{
  background-image: url('../images/lyft-data.jpg');
  background-size: cover;
}

#box3{
  background-image: url('../images/apartment-room.jpg');
  background-size: cover;
}

#box4{
  background-image: url('../images/diydog.jpg');
  background-size: cover;
}

.nav{
  width: 100%;
  z-index: 1000;
  position: fixed;
  top: 0;
  background-color: white;
  font-size: 20px;
  box-shadow: 3px 3px 5px .5px #e9e9e9;
}

nav.stick {
    position: fixed;
    top: 0;
    z-index: 10000;
}

.active{
  color: orange !important;
}

.nav ul{
  display: flex;
  flex-direction: row;
  list-style: none;
  align-items: center;
  justify-content: space-around;
  /*width: 100%;*/
}
.nav a{
  text-decoration: none;
  color: black;
}


#name{
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100vh;
  align-items: center;
  font-size: 60px;

}

#about{
  text-align: center;
  height: 82vh;
  padding-top: 20vh;
  margin-left: 10vh;
  margin-right: 10vh;
  font-size: 20px;
}


.box{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 80vh;
  background-color: grey;
  color: white;
  font-size: 50px;
}

p{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 40vh;
  text-align: center;
  margin-left: 10vh;
  margin-right: 10vh;
  font-size: 24px;

}

.p1{
  height: 40vh;
  font-size: 20px;
}

.p2{
  height: 40vh;
  font-size: 20px;
}

.p3{
  height: 40vh;
  font-size: 20px;
  text-align: center;
  margin-left: 10vh;
  margin-right: 10vh;
}

.p4{
  height: 40vh;
  font-size: 20px;
}


#projects{
  padding-top: 6vh;
  top: 0;
}

#skills{
  height: 70vh;
  text-align: center;
  padding-top: 24vh;
  font-size: 36px;
}

#contact{
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  height: 70vh;
}

#contact a {
  text-decoration: none;
  color: black;
  padding: 10vh;
}

.coming-soon{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 30vh;
  font-family: 'Helvetica', serif;
  font-size: 20px;
  color: #6499BE;
}

.links{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 40vh;
}

.github{
  border: 1px solid black;
  text-decoration: none;
  padding: 4px;
  border-radius: 6px;
  color: black;
  margin-bottom: 6px;
}

.web{
  border: 1px solid black;
  text-decoration: none;
  padding: 4px;
  border-radius: 6px;
  color: black;

}

.github:hover{
  border-color: orange;
  color:orange;
}

.web:hover{
  border-color: orange;
  color:orange;


}

.side-nav {
  display: none;
}

}
